/* Цвета */
/* Основной Цвет #757575 */
/* Вторичний Цвет #212121 */
/* Спицефический Цвет #000000 */
/* Спицефический Цвет #2196F3 */
/* Спицефический Цвет #FFFFFF */

/* ROOT */
:root {
    --seriy: #757575;
    --slabo-cherniy: #212121;
    --cherniy: #000000;
    --siniy: #2196F3;
    --beliy: #FFFFFF;
}
ul {
    list-style: none
}
/* Body */
.body {
    font-family: Roboto, sans-serif;
    color: var(--seriy);
}
/* Hover Focus */

.header .studio:hover,
.header .studio:focus {
    color: var(--siniy);
}

.header .portfolio:hover,
.header .portfolio:focus {
    color: var(--siniy);
}

.header .contact:hover,
.header .contact:focus {
    color: var(--siniy);
}

.header .email:hover,
.header .email:focus {
    color: var(--siniy);
}

.header .nomer:hover,
.header .nomer:focus {
    color: var(--siniy);
}


/* Shapka */
.header .web {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    color: var(--siniy);
    text-decoration: none;
    width: 400;
}

.header .studio {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: var(--slabo-cherniy);
}

.header .portfolio {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: var(--siniy);
}

.header .contact {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: var(--slabo-cherniy);
}

.header .logo {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    width: 700;
    color: var(--cherniy);
}

.header .email {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: var(--seriy);
}

.header .nomer {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: var(--seriy);
}

/* footer */
.footer {
    background-color: #2F303A;
}

.footer .web {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    color: var(--siniy);
    text-decoration: none;
    width: 400;
}

.footer .studio {
    color: var(--siniy);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
}

.footer .portfolio {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: var(--slabo-cherniy);
}

.footer .contact {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: var(--slabo-cherniy);
}

.footer .logo {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    width: 700;
    color: var(--beliy);
}

.footer .email {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: rgba(255, 255, 255, 0.6)
}

.footer .nomer {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: rgba(255, 255, 255, 0.6)
}

.gorod {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    color: var(--beliy);
    font-style: normal;
}
/* Knopki */
.navigasia .button {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.6;
        background-color: #F5F4FA;
        color: var(--slabo-cherniy);
}
.navigasia .button:hover,
.navigasia .button:focus {
    color: var(--beliy);
    background-color: var(--siniy);
}
/* Ocnovnoi kontent */
.menu .zagolovok {
        font-size: 18px;
        font-weight: 700;
        line-height: 2;
        color: var(--slabo-cherniy);
}
.menu .p {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.8;
        color: var(--seriy);
}