/* Цвета */
/* Основной Цвет #757575 */
/* Вторичний Цвет #212121 */
/* Спицефический Цвет #000000 */
/* Спицефический Цвет #2196F3 */
/* Спицефический Цвет #FFFFFF */

/* ROOT */
:root {
    --seriy: #757575;
    --slabo-cherniy: #212121;
    --cherniy: #000000;
    --siniy: #2196F3;
    --beliy: #FFFFFF;
}

.li {
    text-decoration: none;
}

.body {
    font-family: Roboto, sans-serif;
    color: var(--seriy);
}

/* Navigacia */
.nav .studio {
    color: var(--slabo-cherniy);
    size: 16px;
    line-height: 1.15;
}

.nav .studio:hover,
.nav .studio:focus {
    color: var(--siniy);
}

.nav .portfolio:hover,
.nav .portfolio:focus {
    color: var(--siniy);
}

.nav .contact:hover,
.nav .contact:focus {
    color: var(--siniy);
}

.navigasia .button:hover,
.navigasia .button:focus {
    background-color: var(--siniy);
}

.navigasia .button {
    size: 16px;
    line-height: 1.6;
}

.portfolio {
    size: 16px;
    line-height: 1.15;
    color: var(--siniy);
}

.contact {
    size: 16px;
    line-height: 1.15;
    color: var(--cherniy);
}


/* knopka */
.fon .posluga {
    background-color: var(--siniy);
    color: var(--beliy);
    font-size: 16px;
    text-align: center;
}

.navigasia>button {
    font-size: 18px;
    line-height: 1.6;
    color: var(--slabo-cherniy);
}

/* heder */
.logo {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.web {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    color: var(--siniy);
    text-decoration: none;
}

/* footer */
.footer {
    background-color: #2F303A;
}

.footer a {
    color: #ffffff;
}

/* portfolio */
.imgg .hh {
    color: var(--slabo-cherniy);
    font-size: 18px;
}

.p {
    font-size: 16px;
}

/* index.html */
.hhh {
    color: var(--slabo-cherniy);
}

.bol-slov {
    font-size: 36px;
}

.zanatia .hhh {
    text-align: center;
}

.comanda .hhh {
    text-align: center;
}

/* hero */
.h {
    color: #FFFFFF;
    font-size: 44px;
    text-align: center;
}

.fon {
    background-color: #2F303A;

}

/* contact */
.contact {
    color: #757575;
    font-size: 16px;
}

.email {
    color: #2196F3;
    font-size: 16px;
}