/* Цвета */
/* Основной Цвет #757575 */
/* Вторичний Цвет #212121 */
/* Спицефический Цвет #000000 */
/* Спицефический Цвет #2196F3 */
/* Спицефический Цвет #FFFFFF */

*,
*::before,
*::after {
    box-sizing: border-box;
}
ul {
    padding: 0;
    margin: 0;
}
/* ROOT */
:root {
    --seriy: #757575;
    --slabo-cherniy: #212121;
    --cherniy: #000000;
    --siniy: #2196F3;
    --beliy: #FFFFFF;
}
ul {
    list-style: none
}
/* Body */
.body {
    font-family: Roboto, sans-serif;
    color: var(--seriy);
}
/* Hover Focus */

.header .studio:hover,
.header .studio:focus {
    color: var(--siniy);
}

.header .portfolio:hover,
.header .portfolio:focus {
    color: var(--siniy);
}

.header .contact:hover,
.header .contact:focus {
    color: var(--siniy);
}

.header .email:hover,
.header .email:focus {
    color: var(--siniy);
}

.header .nomer:hover,
.header .nomer:focus {
    color: var(--siniy);
}


/* Shapka */
.header {
    margin-bottom: 110px;
    margin-top: 32px;
}

.konteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header .flex {
    display: flex;
    align-items: center;
}

.navigacia .flex {
    display: flex;
    align-items: center;
    gap: 50px;
}

.ul .flex {
    display: flex;
    align-items: center;
    margin-left: 355px;
    gap: 35px;
}

.navigacia .item {
    padding-top: 32px;
    padding-bottom: 32px;
}

.header .web {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    color: var(--siniy);
    text-decoration: none;
    width: 400;
}

.header .studio {
    color: var(--slabo-cherniy);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    text-decoration: none;
}

.header .portfolio {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: var(--siniy);
    text-decoration: none;
}

.header .contact {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: var(--slabo-cherniy);
    text-decoration: none;
}

.header .logo {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;

    text-decoration: none;
    color: var(--cherniy);

    margin-right: 93px;
}

.header .email {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: var(--seriy);
    text-decoration: none;
}

.header .nomer {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: var(--seriy);
    text-decoration: none;
}
/* footer */
.footer {
    background-color: #2F303A;
    margin-top: 0px;
    height: 251px;
}

.footer .web {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    color: var(--siniy);
    text-decoration: none;
    width: 400;
}

.footer .studio {
    color: var(--siniy);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
}

.footer .portfolio {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: var(--slabo-cherniy);
}

.footer .contact {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: var(--slabo-cherniy);
}

.footer .logo {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    width: 700;
    color: var(--beliy);
}

.footer .email {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6)
}

.footer .nomer {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6)
}

.gorod {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    color: var(--beliy);
    font-style: normal;
}
/* Knopki */
.navigasia .button {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.6;
        background-color: #F5F4FA;
        color: var(--slabo-cherniy);

}
.navigasia {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 50px;
    gap: 30px;
}

.navigasia .button:hover,
.navigasia .button:focus {
    color: var(--beliy);
    background-color: var(--siniy);
}
/* Ocnovnoi kontent */
.menu .zagolovok {
        font-size: 18px;
        font-weight: 700;
        line-height: 2;
        color: var(--slabo-cherniy);
}
.menu .p {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.8;
        color: var(--seriy);
}
.menu .cilka {
    text-decoration: none;
}
.menu {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 95px;
}
.menu .li {
    width: 370px;
    margin: 15px;

}
