/* Цвета */
/* Основной Цвет #757575 */
/* Вторичний Цвет #212121 */
/* Спицефический Цвет #000000 */
/* Спицефический Цвет #2196F3 */
/* Спицефический Цвет #FFFFFF */


*,
*::before,
*::after {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
}

/* ROOT */
:root{
--seriy: #757575;
--slabo-cherniy:#212121;
--cherniy:#000000;
--siniy:#2196F3;
--beliy:#FFFFFF;
}

ul {
    list-style: none
}
/* Body */
.body{
    font-family: Roboto, sans-serif;
    color:var(--seriy);
}

/* Hover Focus */

.header .studio:hover ,
.header .studio:focus{
    color: var(--siniy);
}

 .header .portfolio:hover,
 .header .portfolio:focus {
     color: var(--siniy);}

.header .contact:hover,
.header .contact:focus {
    color: var(--siniy);}

.header .email:hover,
.header .email:focus {
 color: var(--siniy);
}
.header .nomer:hover,
.header .nomer:focus {
    color: var(--siniy);
}
/* Shapka */
.header , 
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header {
    width: 1250px;
}

.header .web {
    font-family: Raleway; 
    font-size: 26px;
    line-height: 1.2;
    color: var(--siniy);
    text-decoration: none;
    width: 400;
}
.header .studio {
    color: var(--siniy);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    text-decoration: none;
}

.header .portfolio {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        color: var(--slabo-cherniy);
        text-decoration: none;
}
.header .contact {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        color:var(--slabo-cherniy);
        text-decoration: none;
}
.header .logo {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    width: 700;
    color: var(--cherniy);
    margin-right: 93px;
}
.header .email {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        color: var(--seriy);
        text-decoration: none;
}
.header .nomer {
    font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        color: var(--seriy);
        text-decoration: none;
}

.header .navigacia {
    display: flex;
}
.header .ul {
    display: flex;
}

.navigacia .item {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: 100px;
}

.ul .item {
    display: block;
    margin-right: 40px;
}


     /* Hero */
.posluga {
    background-color: var(--siniy);
    color: var(--beliy);
        font-size: 16px;
        font-weight: 700;
        line-height: 1.8;
}
.hero-section {
    background-color: #2F303A;
    text-align: center;
}
.hero-text {
    color: #FFFFFF;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
}
/* Perevagi */
.perevagi{
    width: 1170px;
}

.perevagi .ul {
    display: flex;
    justify-content: space-around;
}
.perevagi .item {
    width: 250px;
    height: 100px;
}

.perevagi .zagolovok {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    color:var(--slabo-cherniy) ;
    margin-top: 90px;
}

.perevagi .text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    color: var(--seriy);
}
/* Zanatia */
.zanatia .zagolovok {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    color: var(--slabo-cherniy);
    text-align: center;
    margin-top: 133px;
}
.zanatia .ul {
    display: flex;
    justify-content: space-around;

}
/* Komanda */
.comanda-section {
    background-color: #F5F4FA;
    width: 1170px;
}
.comanda-section .zagolovok-komanda {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.16;
        color: var(--slabo-cherniy);
        text-align: center;
        margin-top: 190px;
}
.comanda-section .ima {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.18;
        color: var(--slabo-cherniy);
}
.comanda-section .zanatia {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.18;
        color: var(--seriy);
}
.comanda-section .comanda-ul {
    display: flex;
}

/* Footer */
.footer {
 background-color: #2F303A;
 margin-top: 120px;
}
.footer .web {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    color: var(--siniy);
    text-decoration: none;
    width: 400;
}

.footer .studio {
    color: var(--siniy);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
}

.footer .portfolio {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: var(--slabo-cherniy);
}

.footer .contact {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: var(--slabo-cherniy);
}

.footer .logo {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    width: 700;
    color: var(--beliy);
}

.footer .email {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6)
}

.footer .nomer {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6)
}
.gorod {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.7;
        color: var(--beliy);
         font-style: normal;
}