/* Цвета */
/* Основной Цвет #757575 */
/* Вторичний Цвет #212121 */
/* Спицефический Цвет #000000 */
/* Спицефический Цвет #2196F3 */
/* Спицефический Цвет #FFFFFF */


ul
{
padding: 0;
margin: 0;
list-style: none
}

/* ROOT */ 
:root{
--seriy: #757575;
--slabo-cherniy:#212121;
--cherniy:#000000;
--siniy:#2196F3;
--beliy:#FFFFFF;
}
/* Body */
.body{
    font-family: Roboto, sans-serif;
    color:var(--seriy);
}

/* Hover Focus */

.header .studio:hover ,
.header .studio:focus{
    color: var(--siniy);
}

 .header .portfolio:hover,
 .header .portfolio:focus {
     color: var(--siniy);}

.header .contact:hover,
.header .contact:focus {
    color: var(--siniy);}

.header .email:hover,
.header .email:focus {
 color: var(--siniy);
}
.header .nomer:hover,
.header .nomer:focus {
    color: var(--siniy);
}
/* Shapka */

.header {
   border-bottom: 1px solid rgb(217,217,217,1);
}

.konteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header .flex {
    display: flex;
    align-items: center;
}
 .header .navigacia {
    display: flex;
    gap: 50px;
 }
  .header .ul  {
    display: flex;
    margin-left: auto;
    gap: 40px;
  }

.navigacia .item {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
}

.header .web {
    font-family: Raleway; 
    font-size: 26px;
    line-height: 1.2;
    color: var(--siniy);
    text-decoration: none;
    width: 400;
}
.header .studio {
    color: var(--siniy);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    text-decoration: none;
}

.header .portfolio {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        color: var(--slabo-cherniy);
        text-decoration: none;
}
.header .contact {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        color:var(--slabo-cherniy);
        text-decoration: none;
}
.header .logo {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;

    text-decoration: none;
    color: var(--cherniy);

    margin-right: 93px;
}
.header .email {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        color: var(--seriy);
        text-decoration: none;
}
.header .nomer {
    font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        color: var(--seriy);
        text-decoration: none;
}

     /* Hero */
.posluga {
    background-color: var(--siniy);
    color: var(--beliy);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    height: 50px;
    width: 200px;    
}
.hero-section {
    background-color: #2F303A;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-text {
    color: #FFFFFF;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    margin-bottom: 40px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

/* Perevagi */
.perevagi{
    padding-top: 94px;
    padding-bottom: 94px;
}

.perevagi .ul {
    display: flex;
    gap: 30px;
}
.perevagi .item {
    width: 270px;
}

.perevagi .zagolovok {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    color:var(--slabo-cherniy) ;
    margin-top: 0px;
    margin-bottom: 10px;
}

.perevagi .text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    color: var(--seriy);
    margin-top: 0px;
    margin-bottom: 0px;
}
/* Zanatia */
.nashizanatia .zagolovok {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    color: var(--slabo-cherniy);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}
.nashizanatia .ul {
    display: flex;
    gap: 30px;
}

.nashizanatia .kartinka {
    display: block;
}
.nashizanatia {
    padding-bottom: 94px;
}

/* Komanda */
.comanda-section {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}
.comanda-section .zagolovok-komanda {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.16;
        color: var(--slabo-cherniy);
        text-align: center;
        margin-top: 0px;
        margin-bottom: 50px;
}
.comanda-section .ima {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.18;
        color: var(--slabo-cherniy);
        margin-bottom: 10px;
        margin-top: 0px;
}
.comanda-section .zanatia {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.18;
        color: var(--seriy);
        margin-top: 0px;
        margin-bottom: 0px;
}
.comanda-section .comanda-ul {
    display: flex;
    gap: 30px;
}

.comanda-section .blok-kartinka {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
}

.comanda-section .kartinka {
    display: block;
}

/* Footer */
.footer {
 background-color: #2F303A;
 padding-top: 60px;
 padding-bottom: 60px;
}
.footer .web {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    color: var(--siniy);
    text-decoration: none;
    width: 400;
}

.footer .studio {
    color: var(--siniy);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
}

.footer .portfolio {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: var(--slabo-cherniy);
}

.footer .contact {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: var(--slabo-cherniy);
}

.footer .logo {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--beliy);
}

.footer .email {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 14px;
}

.footer .nomer {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6)
}

.footer .li {
    margin-bottom: 12px;
}

.gorod {
     font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    color: var(--beliy);
    font-style: normal;
    margin-bottom: 12px;
    margin-top: 0px;
}

.footer .address {
    margin-top: 38px;
}
